body{
	font-family: 'Georgia', serif;
	font-size: 24px;
	line-height: 1.5;
	color: #3E3E3E;
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 33%, #ffffff 33%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(33%,#ffffff), color-stop(33%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 33%,#ffffff 33%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 33%,#ffffff 33%,#eaeaea 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 33%,#ffffff 33%,#eaeaea 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 33%,#ffffff 33%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.container{
	padding-top: 100px;
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}

.skills{
	border-top: 2px dotted #CBCBCB;
	border-bottom: 2px dotted #CBCBCB;
	padding: 10px 0;
	margin: 30px 0;
	overflow: auto;
}

.skills ul{
	float: left;
	list-style: none;
	padding:0;
	max-width: 50%;
}

li { 
	padding-left: 1em; 
	text-indent: -.7em;
}

li:before {
	content: "•";
	margin-right: 0.5em;
}

.contact-info{
	font-size: 80%;
	color: grey;
	text-align: left;
}

.contact-info span{
	text-transform: uppercase;
	font-size: 70%;
	font-weight: bold;
	letter-spacing: 1px;
	color: #333;
}
aside{
	float: left;
	width: 20%;
	margin-right: 60px;
	text-align: center;
}
aside img{
	max-width: 100%;
	margin: 0 auto;
}
main{ overflow: auto; }
h1{
	font-size: 200%;
	font-weight: 400;
	margin: 0;
}
h2{
	text-transform: uppercase;
	font-size: 80%;
	color: #004689;
	letter-spacing: 2px;
	margin: 0;
}



.btn{
	padding: 10px 20px;
	background-color: #236CB2;
	color: #fff;
	border-radius: 2px;
	font-family: sans-serif;
	border-bottom: 2px solid rgb(12, 45, 92);
	margin: 30px 0;
	display: block;
	cursor: pointer;
	text-decoration: none;
	font-size: 80%;
}

.btn:hover,
.btn:focus,
.btn:active{
	background-color: #277FD3;	
}



@media (max-width: 800px){

	.container{
		padding-top: 30px;
	}

	.sidebar {
		float: none;
		width: 100%;
		overflow: auto;
		margin-bottom: 50px;
		border-bottom: 1px solid #ddd;
		padding-bottom: 20px;
	}

	.headshot{
		float: left;
		width: 100px;
		margin-right: 30px;
	}

	.contact-info{
		overflow: auto;
		float: left;
		width: 200px;
	}

	.scales{
		display: none;
	}

	.contact-info p{
		margin: 0 0 10px 0;
	}

	.contact-info span{
		display: block;
	}

	.btn{
		float: right;
		width: 100px;
		margin: 0;
	}
}


@media (max-width: 600px){

	.contact-info{
		font-size: 100%;
		width: 100px;
		float: none;
		margin-bottom: 20px;
	}

	.btn{
		display: block;
		float: none;
		font-size: 100%;
		width: 100%;
		text-align: center;
		box-sizing: border-box;
	}

	body{
		font-size: 15px;
	}
}